<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Ben,</h1>
    <p>
      A new post has been created on Rechov Aliyah:
      <br><br>
      Title: <%= @post.title %>
      <br>
      Author First Name: <%= @post.user.first_name %> 
      <br>
      Author Last Name: <%= @post.user.last_name %>
    </p>
    <p>Have a great day! - Your website</p>
  </body>
</html>