<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @user.first_name %>,
    <p>
    <h2>Welcome to Rechov Aliyah!</h2>
    <p>
    I hope you will find Rechov Aliyah the place where you can share your aliyah journey with your friends, family and larger community. If you haven't yet, why don't you start writing your first blog post? It's easy and just takes a minute to get started.
    <p>
    Simply navigate to <a href="http://www.rechovaliyah.com/posts/new">http://www.rechovaliyah.com/posts/new</a> and begin typing. If this is your first post some good topic ideas to get you started might be: How did you decide to make aliyah? What was your flight and landing like as a new Israeli? What were your first few weeks like in Israel? What do you wish you knew before you left or what would you like to know before you leave, if you haven't made aliyah yet?
    <p>
    Also, don't forget to update your user profile with your Twitter username if you have one and a profile picture. We do our best to promote your blog posts, including sharing them on Twitter from our <a href="https://twitter.com/rechovaliyah">Rechov Aliyah twitter account</a>. When you share your Twitter username with us, we'll automatically include you in the tweet. 
    <p>
    I'm so glad you joined the community and look forward to reading your contributions!
    <p>
    All the best,
    <br />
    Ben Greenberg
  </body>
</html>