<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= user.first_name %>,
    <p>
    <h2>We Haven't Heard From You In A While</h2>
    <p>
    We are so glad you signed up for Rechov Aliyah to share your aliyah journey, but we haven't heard from you in a while! Rechov Aliyah was made for people just like you to share your aliyah story. It takes just a moment to begin blogging on Rechov Aliyah. Here's how you do it:
    <p>
    Simply navigate to <a href="http://www.rechovaliyah.com/posts/new">http://www.rechovaliyah.com/posts/new</a> and begin typing.
    <p>
    If this is your first post some good topic ideas to get you started might be: How did you decide to make aliyah? What was your flight and landing like as a new Israeli? What were your first few weeks like in Israel? What do you wish you knew before you left or what would you like to know before you leave, if you haven't made aliyah yet?
    <p>
    Lastly, help us maximize our ability to share your post with a wider audience by updating your profile with a headshot picture and your Twitter username, if you have one. You can do that by going to your dashboard from the top menu bar on the site.
    <p>
    Thanks so much in advance for sharing your story! I look forward to reading it.
    <p>
    All the best,
    <br />
    Ben Greenberg
  </body>
</html>