/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Tablet */

@media screen and (max-width: 768px) {
  
  /* NAVBAR */

  .navbar-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 100%;
   min-height: 100vh;
   max-width: 23%;
   min-width: 23%;
 }
 
 .navbar-item {
   display: flex;
   margin: 20px;
   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   min-height: 100px;
 }
 
 #navbar-profile-img img {
   padding-left: 5px;
   padding-right: 15px;
   padding-top: 5px;
   max-width: 60%;
 }
 
 #navbar-profile-info {
   flex-direction: column;
   font-family: 'Anonymous Pro', monospace;
   font-size: 14px;
   display: flex;
   width: 50%;
   flex: 0 0 70%;
   justify-content: center;
   align-items: center;
 }
 
 #navbar-bookmark-img img {
   width: 100%;
 }
 
 #navbar-bookmark-title {
   width: 40%;
   flex: 0 0 60%;
   margin-right: 20px;
   justify-content: center;
   align-items: center;
   text-align: left;
   font-family: 'Cinzel Decorative', cursive;
   font-size: 12px;
   color: #0038b8;
 }
 
 #bookmark-count {
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
   font-stretch: condensed;
   font-size: 1.0em;
 }
 
 .navbar-sponsors {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-items: center;
   justify-content: center; 
 }
 
 #sponsors-heading, #heart {
   font-family: 'Cinzel Decorative', cursive;
   color: #0038b8;
   font-size: 10px;
   flex-wrap: wrap;
   flex: 1;
   margin-bottom: 2px;
 }
 
 #heart {
   color: #0038b8;
   text-shadow: 4px 4px 2px lightskyblue;
   margin: 20px;
 }
 
 #navbar-sponsor-img img {
   width: 40%;
   display: block;
   margin: 0 auto;
 }
 
 #navbar-sponsor-img {
   justify-content: center;
   align-items: center; 
 }
 
 #navbar-sponsor-lead {
   flex: 1;
   align-items: center;
   text-align: center;
   margin: 15px;
   font-family: 'Alegreya', serif;
   font-size: 12px;
   font-weight: bold;
 }
 
 .navbar-links {
   display: flex;
   flex-direction: column;
   align-items: stretch;
 }
 
 #links-heading {
   font-family: 'Cinzel Decorative', cursive;
   font-size: 14px;
   color: #0038b8;
   flex-wrap: wrap;
   flex: 1;
   margin-bottom: 30px;
   align-self: center;
 }
 
 #link-item {
   font-family: 'Anonymous Pro', monospace;
   font-size: 10px;
   flex-wrap: wrap;
   flex: 1;
   margin: 5px;
   margin-bottom: 15px;
   padding-left: 15px;
 }

 /* VIEW POST PAGE */

 .post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  height: 100%;
  min-height: 80vh;
  max-width: 100%;
  margin: 20px;
  margin-left: 4%;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-color: #ffffff;
}


#author-info {
  color: #6677A6;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

#author-info h2 {
  font-size: 24px;
}

#author-img img {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  width: 3%;
  border-radius: 50%;
}

#post-author-twitter img {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  width: 2%;
  border-radius: 50%;

  opacity: 0.5;
  /* width: 18px; */
  height: 18px;
  vertical-align: -4px;
  /* margin: 0px 1px; */
}

#tag-info {
  display: inline-block;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 5px 3px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #d6d9e0;
  color: #606570;
}


#post-title h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 25px;
  min-height: 10px;
  color: #000000;
}

#post-img img {
  padding-left: 35%;
  width: 30%;
  margin-top: auto;
  margin: auto;
  max-width: 1024px;
  background: transparent no-repeat top center;
  background-size: cover;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#post-body {
  font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 12px;
  line-height: 32px;
  overflow-wrap: break-word;
  padding-bottom: 20px;
  align-self: flex-start;
}

#post-actions button {
  border: 1px solid #e1e4e7;
}

/* lOGIN PAGE */

.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
  height: 100%;
  min-height: 80vh;
  margin: 1 0 auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.login-box {
  flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#login-header {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 36px;
  color: #0038b8;
  margin-bottom: 30px;
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-weight: bold;
}

#login-form {
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
}

#login-form input {
  margin: 10px;
  font-size: 24px;
}

#submit-btn input[type=submit] {
  display: flex;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  background: #0038b8;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
  margin-top: 5px;
  margin-left: auto;
  align-self: right;
}

#submit-btn input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#login-footer {
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-family: 'Alegreya', serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #0038b8;
}

input:focus:required:invalid {
  border: 2px dashed red;
}

input:required:valid {
  border: 2px solid black;
}
 

/* DASHBOARD */

.dashboard-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0038b8;
  min-height: 25vh;
  margin-bottom: 30px;
  color: white;
  width: 100%;
  flex-basis: 100%;
  padding: 5px;
  min-width: 100%;
  padding-bottom: 10px;
}

.dashboard-header a {
  text-decoration: none;
  color: #ffffff;
}

#dashboard-user-pic {
  max-width: 25%;
  flex: 3;
  margin-top: 10px;
  margin-left: 10px;
}

#dashboard-user-details {
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  flex: 1;
}

#dashboard-user-pic img {
  width: 50%;
  max-width: 100%;
  border-radius: 50%;
  border:5px solid #ffffff;
}

#dashboard-user-name {
  font-family: 'Anonymous Pro', monospace;
  font-size: 32px;
}

#dashboard-user-twitter, #dashboard-user-email {
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  margin: 10px;
}

#dashboard-user-twitter img {
  width: 5%;
  margin-right: 5px;
}

#dashboard-user-email img {
  width: 5%;
  margin-right: 5px;
}

.dashboard-edit-profile-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #09071E;
  font-size: 12px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
}

#dashboard-edit-profile-link button {
  margin-bottom: 20px;
}

.dashboard-edit-profile-button a {
  font-family: 'Alegreya', serif;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  color: #09071E;
}

.dashboard-edit-post-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #09071E;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
}

.dashboard-edit-post-button a {
  font-family: 'Alegreya', serif;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  color: #09071E;
}

 /* EDIT PROFILE PAGE */

 .edit-profile-box {
  flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  padding: 10px;
}
 
}

/* Smartphone */
/* iPhone 8 */

@media screen and (max-width: 667px) {
  /* NAVBAR */

  .navbar-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 100%;
   min-height: 100vh;
   max-width: 25%;
   min-width: 25%;
 }
 
 .navbar-item {
   display: flex;
   margin: 3px;
   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
   min-height: 50px;
 }
 
 #navbar-profile-img img {
   padding-left: 5px;
   padding-right: 15px;
   padding-top: 5px;
   max-width: 60%;
 }
 
 #navbar-profile-info {
   flex-direction: column;
   font-family: 'Anonymous Pro', monospace;
   font-size: 8px;
   display: flex;
   width: 50%;
   flex: 0 0 90%;
   justify-content: center;
   align-items: flex-start;
 }
 
 #navbar-bookmark-img img {
   width: 100%;
 }
 
 #navbar-bookmark-title {
   width: 40%;
   flex: 0 0 60%;
   margin-right: 20px;
   justify-content: center;
   align-items: center;
   text-align: left;
   font-family: 'Cinzel Decorative', cursive;
   font-size: 10px;
   color: #0038b8;
 }
 
 #bookmark-count {
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
   font-stretch: condensed;
   font-size: 1.0em;
 }
 
 .navbar-sponsors {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-items: center;
   justify-content: center; 
 }
 
 #sponsors-heading, #heart {
   font-family: 'Cinzel Decorative', cursive;
   color: #0038b8;
   font-size: 8px;
   flex-wrap: wrap;
   flex: 1;
 }
 
 #heart {
   color: #0038b8;
   text-shadow: 4px 4px 2px lightskyblue;
   margin: 10px;
 }
 
 #navbar-sponsor-img img {
   width: 40%;
   display: block;
   margin: 0 auto;
 }
 
 #navbar-sponsor-img {
   justify-content: center;
   align-items: center; 
 }
 
 #navbar-sponsor-lead {
   flex: 1;
   align-items: center;
   text-align: center;
   margin: 5px;
   font-family: 'Alegreya', serif;
   font-size: 7px;
   font-weight: bold;
 }
 
 .navbar-links {
   display: flex;
   flex-direction: column;
   align-items: stretch;
 }
 
 #links-heading {
   font-family: 'Cinzel Decorative', cursive;
   font-size: 8px;
   color: #0038b8;
   flex-wrap: wrap;
   flex: 1;
   margin-bottom: 5px;
   align-self: center;
 }
 
 #link-item {
   font-family: 'Anonymous Pro', monospace;
   font-size: 6px;
   flex-wrap: wrap;
   flex: 1;
   margin: 5px;
   margin-bottom: 5px;
   padding-left: 15px;
 }

 /* HEADER */

.header-container {
  display: flex;
  flex: 1;
  align-items: center;
  min-width: 100%;
  /* width: 85vw; */
  margin-left: 1vw;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding-right: 15px;
  flex-basis: 100%;
  background-color: #FCF9F4;
}

#title-firsthalf {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 18px;
  color: #0038b8;
}

#title-secondhalf {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  color: white;
  text-shadow:
		-1px -1px 0 #0038b8,
		1px -1px 0 #0038b8,
		-1px 1px 0 #0038b8,
		1px 1px 0 #0038b8;
}

#align-right, #align-left {
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
}

#align-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 10px;
}

#align-left {
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  align-items: flex-start;
}

#align-left img {
  width: 5%;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 8px;
  background: #0038b8;
  padding: 3px 7px 2px 7px;
  border: dotted #ffffff 1px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  color: white;
}

#header-headshot-img img {
  width: 30%;
  padding-left: 25px;
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.header-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-dropdown-content a:hover {background-color: #ddd}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

/* POST SNIPPET CARD */

.post-snippet-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding-top: 15px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-bottom: 5px;  
  min-width: 90%;
  max-width: 90%; 
  flex-grow: 1;
  background-color: #FFFFFF;
  flex: 0 0 30%;
}

#post-snippet-title {
  display: flex;
  font-family: 'Oranienbaum', serif;
  color: #0A0A0A;
  font-size: 2vh;
  font-weight: bold;
  min-width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

#post-snippet-author-container {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  font-size: 3vh;
  /* width: 100%; */
}

#post-snippet-author-headshot img {
  flex: 0;
  width: 60%;
  border-radius: 50%;
  /* margin-left: 25px; */
}

#post-snippet-author-name {
  /* display: flex;  */
  flex: 0 0 80%;
  align-self: flex-start;
  justify-content: flex-start;
  color: #666666;
  font-weight: 500;
  font-size: 12px;
}

.post-snippet-footer {  
  display: flex;
  max-width: 100%;
  min-height: 10%;
  max-height: 100%;
  margin-bottom: auto;
  margin-top: -20px;
}

#post-snippet-tags {  
  font-family: 'Anonymous Pro', monospace;
  font-size: 8px;
  display: flex; 
  flex: 1; 
  padding-bottom: 5px;
  align-self: flex-end; 
  justify-content: flex-start;
}

#post-snippet-tags p {
  margin-bottom: auto;
}

#post-snippet-links {
  font-size: 10px;
  display: flex; 
  flex: 1; 
  align-items: flex-end; 
  justify-content: flex-end;
}

#post-snippet-tags p span:nth-child(even) {
  background: lightskyblue;
}

#post-snippet-tags p span:nth-child(odd) {
  background: lightgoldenrodyellow;
}

#post-snippet-heart {
  display: flex; 
  flex: 1; 
  align-self: flex-end;
  padding-left: 5px; 
  justify-content: flex-end;
  margin-bottom: auto;
}

#post-snippet-heart img {
  /* width: 10%; */
  height: 18px;
  min-width: 26px;
  vertical-align: -5px;
}

#post-snippet-heart-count {
  display: flex; 
  align-self: flex-end;
  padding-left: 5px; 
  justify-content: flex-end;
}

#like-count {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-size: 8px;
  color: #666666;
  text-align: left;
  min-width: 28px;
  font-weight: 400;
}

 /* VIEW POST PAGE */

 .post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  height: 100%;
  min-height: 80vh;
  max-width: 100%;
  margin: 20px;
  margin-left: 4%;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-color: #ffffff;
}


#author-info {
  color: #6677A6;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

#author-info h2 {
  font-size: 10px;
}

#author-img img {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  width: 3%;
  border-radius: 50%;
}

#post-author-twitter img {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  width: 2%;
  border-radius: 50%;

  opacity: 0.5;
  /* width: 18px; */
  height: 18px;
  vertical-align: -4px;
  /* margin: 0px 1px; */
}

#tag-info {
  display: inline-block;
  border-radius: 3px;
  font-size: 8px;
  font-weight: bold;
  padding: 2px 5px 3px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #d6d9e0;
  color: #606570;
}


#post-title h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-height: 10px;
  color: #000000;
}

#post-img img {
  padding-left: 35%;
  width: 30%;
  margin-top: auto;
  margin: auto;
  max-width: 1024px;
  background: transparent no-repeat top center;
  background-size: cover;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#post-body {
  font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 10px;
  line-height: 24px;
  overflow-wrap: break-word;
  padding-bottom: 20px;
  align-self: flex-start;
}

#post-actions button {
  border: 1px solid #e1e4e7;
}
 
/* lOGIN PAGE */

.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
  height: 100%;
  min-height: 80vh;
  margin: 1 0 auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.login-box {
  flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#login-header {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  color: #0038b8;
  margin-bottom: 30px;
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-weight: bold;
}

#login-form {
  font-family: 'Anonymous Pro', monospace;
  font-size: 12px;
}

#login-form input {
  margin: 10px;
  font-size: 8px;
}

#submit-btn input[type=submit] {
  display: flex;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 10px;
  background: #0038b8;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
  margin-top: 5px;
  margin-left: auto;
  align-self: right;
}

#submit-btn input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#login-footer {
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-family: 'Alegreya', serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: #0038b8;
}

input:focus:required:invalid {
  border: 2px dashed red;
}

input:required:valid {
  border: 2px solid black;
}

/* DASHBOARD */

.dashboard-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0038b8;
  min-height: 20vh;
  margin-bottom: 15px;
  color: white;
  width: 100%;
  flex-basis: 100%;
  padding: 5px;
  min-width: 100%;
  padding-bottom: 10px;
}

.dashboard-header a {
  text-decoration: none;
  color: #ffffff;
}

#dashboard-user-pic {
  max-width: 25%;
  flex: 3;
  margin-top: 10px;
  margin-left: 10px;
}

#dashboard-user-details {
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  flex: 1;
}

#dashboard-user-pic img {
  width: 50%;
  max-width: 100%;
  border-radius: 50%;
  border:5px solid #ffffff;
}

#dashboard-user-name {
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
}

#dashboard-user-twitter, #dashboard-user-email {
  font-family: 'Anonymous Pro', monospace;
  font-size: 5px;
  margin: 2px;
}

#dashboard-user-twitter img {
  width: 5%;
  margin-right: 5px;
}

#dashboard-user-email img {
  width: 5%;
  margin-right: 5px;
}

.dashboard-edit-profile-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #09071E;
  font-size: 12px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
}

#dashboard-edit-profile-link button {
  margin-bottom: 20px;
}

.dashboard-edit-profile-button a {
  font-family: 'Alegreya', serif;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  color: #09071E;
}

.dashboard-edit-post-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #09071E;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: dotted #ffffff 1px;
  text-decoration: none;
}

.dashboard-edit-post-button a {
  font-family: 'Alegreya', serif;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  color: #09071E;
}

/* DASHBOARD POSTS CONTAINER */

.dashboard-post-container {
  display: unset;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  
  margin-bottom: 5px;  
  min-width: 100%; 
  flex-grow: 1;
  background-color: #FFFFFF;

}

#dashboard-post-title {
  display: flex;
  font-family: 'Oranienbaum', serif;
  color: #0A0A0A;
  font-size: 2vh;
  font-weight: bold;
  min-width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

#dashboard-post-author-container {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  font-size: 3vh;
  width: 100%;
}

#dashboard-post-author-headshot img {
  width: 100%;
  border-radius: 50%;
  margin-right: -50px;
}

#dashboard-post-author-name {
  display: flex; 
  flex: 1; 
  align-self: center;
  padding-left: 5px; 
  justify-content: flex-start;
  color: #666666;
  font-weight: 500;
  font-size: 32px;
}

.dashboard-post-footer {  
  display: flex;
  max-width: 100%;
  min-height: 10%;
  max-height: 100%;
  margin-bottom: auto;
  margin-top: -20px;
}

#dashboard-post-tags {  
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
  display: flex; 
  flex: 1; 
  padding-bottom: 5px;
  align-self: flex-end; 
  justify-content: flex-start;
}

#dashboard-posts-tags p {
  margin-bottom: auto;
}

#dashboard-posts-links {
  font-size: 26px;
  display: flex; 
  flex: 1; 
  align-items: flex-end; 
  justify-content: flex-end;
}

#dashboard-posts-tags p span:nth-child(even) {
  background: lightskyblue;
}

#dashboard-posts-tags p span:nth-child(odd) {
  background: lightgoldenrodyellow;
}

#post-snippet-heart {
  display: flex; 
  flex: 1; 
  align-self: flex-end;
  padding-left: 5px; 
  justify-content: flex-end;
  margin-bottom: auto;
}

 /* EDIT PROFILE PAGE */

 .edit-profile-box {
  flex-wrap: wrap;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  padding: 10px;
}

/* ABOUT PAGE */

#about-table td {
  width: 40%;
  height: 50%;
  font-size: 12px;
}

#about-table td img {
  width: 80%;
}
 
}

/* Odd Sizes */

@media screen and (max-width: 1110px) {
  /* NAVBAR */

  #navbar-profile-info {
   font-size: 18px; 
   width: 50%;
   flex: 0 0 70%;  
 }

 #navbar-bookmark-title {
    width: 40%;
    flex: 0 0 60%;
    margin-right: 20px;
    font-size: 14px;
  }

  #sponsors-heading, #heart {
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  #heart {
    margin: 20px;
  }
}

/* Odd Sizes */

@media screen and (max-width: 1030px) {
  /* NAVBAR */

  #navbar-profile-info {
   font-size: 16px; 
   width: 50%;
   flex: 0 0 70%;  
 }

 #navbar-bookmark-title {
    width: 40%;
    flex: 0 0 60%;
    margin-right: 20px;
    font-size: 14px;
  }

  #sponsors-heading, #heart {
    font-size: 11px;
    margin-bottom: 2px;
  }
  
  #heart {
    margin: 15px;
  }
}

@media screen and (max-width: 970px) {
  /* NAVBAR */

  #navbar-profile-info {
   font-size: 14px; 
   width: 50%;
   flex: 0 0 70%;  
 }
}

@media screen and (max-width: 885px) {
  /* NAVBAR */

  #navbar-profile-info {
   font-size: 12px; 
   width: 50%;
   flex: 0 0 70%;  
 }
 #navbar-sponsor-lead {
  margin: 15px;
  font-size: 14px;
}
}